
* {
  box-sizing: border-box;
}
body{
  width: 100%;
  background-color: #201d1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

b, strong{
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u{
  text-decoration: underline;
}

input, select, textarea, button{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.contents{
  width: 593px;
  height: 800px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: 45px 50px 5px rgb(110, 110, 105);
}
.main-content{
  margin: 0 54px;
}
h1,.title{
  float: left;
  width: 100%;
}
h1{
 
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem;
}
h2{
  font-size: 0.8rem;
  margin-bottom: 8px;
}
.title{
  margin-top: 9px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 0.9rem;
}
.span{
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 11px;
}
.jod-present, .jod-date{
  display:  flex;
}
.jod-present .title-date , .jod-date .title-date{
  text-align: end;
  width: 100%;
}
.jod-date p , .jod-present p , .jod-date-end{
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 15px;
  width: 100%;
}
.item ul li , .title-end{
  font-size: 10px;
  margin-left: 19.1px;
  line-height: 1.5;
  letter-spacing: 0px;
}
.jod-date{
  margin-top: 16px;
}
.jod-date-end {
  margin-top: 15px;
  margin-bottom: 7px;
}
.title-end{
  margin-left: 0;
}
.title-end strong{
  font-size: 13px;
}