* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  margin-left: 0;
}

body {
  font-size: 18px;
}

.content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.content p,
.content ul,
.content ol {
  margin: 60px 0;
}

.content img {
  width: 100%;
}

.content ul,
.content ol {
  padding-left: 0;
}

.content ul li,
.content ol li {
  margin-left: 28px;
}